import java.io.*;
import java.util.*;

public class %Noun%FileReader {
    private Repository repository;

    public %Noun%FileReader() {
        this.repository = Repository.getInstance();
    }

    public %Noun%List readCsvFile(String aName) {
        %Noun%List instanceList = new %Noun%List(aName);
        %Noun%List repositoryList = repository.get%Noun%List();
        try {
            int lineNr = 0;
            File aFile = new File(aName + ".csv");
            BufferedReader aBr = new BufferedReader(new FileReader(aFile));
            String aLine = "";
            while (aLine != null) {
                aLine = aBr.readLine();
                if (aLine != null) {
                    String [] lineParts = aLine.split(";", -1);
                    if (lineParts.length == %nrOfAttributes%) {
                        %Noun% instance = new %Noun%();
                        if (!(repositoryList.getMember(lineParts[0]) == null)) {
                            instance = repositoryList.getMember(lineParts[0]);
                        }
                        // start:attribute-assignments
                        // end:attribute-assignments
                        instanceList.addMember(instance);

                        if ((repositoryList.getMember(lineParts[0]) == null)) {
                        repositoryList.addMember(instance);
                        }
                    } else {
                        System.out.println("Number of attributes <> %nrOfAttributes% on " + lineNr);
                    }
                    lineNr++;
                }
            }
            System.out.println("Number of instances that were read: " + lineNr);
        }
        catch (Exception e) {
            System.out.println(e);
        }
        return instanceList;
    }

    // start:retrieveOrCreate
    // end:retrieveOrCreate
}