# Invoice for order %OrderId%

- Customer: %CustomerId%
- Name: %FirstName% %LastName%
- Birthdate: %BirthDate%
- Tel.: %PhoneNumber%

| Product ID | Order Quantity | VAT (%) | Price (excl. vat) | Price (incl. VAT) |
|------------|----------------|---------|-------------------|-------------------|
| **Total** |                 |         | **%TotalExcludingVat%**| **%TotalIncludingVat%** |


