public class %Noun% {

  // start:attribute-definitions
  // end:attribute-definitions

  public %Noun%() {
  }

  @Override
  public String toString() {
    return m%Noun%Id;
  }

  // start:getset-methods
  // end:getset-methods

  public void giveOverview() {
    // start:overview-elements
    // end:overview-elements
  }
}
