import java.util.ArrayList;
import java.util.List;

public class %Noun% {

  // start:attribute-definitions
  // end:attribute-definitions

  public %Noun%() {
  }

  // start:getset-methods
  // end:getset-methods  
}
